<% if (isOn === 'false' || !isOn) { %>
	<button class="btn btn-mini btn-medium" id="power"></i>Turn On</button>
 <% } else { %>
	<button class="btn btn-mini btn-success" id="power"></i>On</button>
<% } %>

<a href="#videos/<%= _id %>" class="thumbnail plain" style="text-align: center;">
    <img src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture %>" height="150" width="125" alt="">
    <h5><%= name %></h5>
    <h6><%= alphabetLetter %></h6>
</a>
<% if (isRecording === 'false' || !isRecording) { %>
<!-- # <button class="btn btn-medium record_buttons <%= isRecording === 'false' || !isRecording ? 'btn-success' : 'btn-danger' %>"><i class="icon-white icon-thumbs-down"></i> Record</button> -->
	<button class="btn btn-inverse btn-medium record_buttons" id="recordYo"></i>Start Recording</button>
 <% } else { %>
	<button class="btn btn-danger btn-medium record_buttons" id="recordYo"><i class="icon-white icon-thumbs-up"></i> Recording...</button>
<% } %>

