<div class="right">
    <p class="memoryLeft">Memory left: <%= Math.round(memoryLeft / 10000000) / 100 %> GB</p>
    <p>
        <span class="batteryLeft">Battery: <%= batteryLeft != null ? batteryLeft : 0 %>%</span>
        <span class="charging">
            <% if (charging) { %>
                (charging)
            <% } %>
        </span>
    </p>
    <a class="edit_details" href="#videos/<%= _id %>"><%= name %> details</a>
</div>
<p>
    <% if (isOn === 'false' || !isOn) { %>
    <button class="btn btn-mini btn-medium" id="power"></i>Turn On</button>
<% } else { %>
<button class="btn btn-mini btn-success" id="power"></i>On</button>
    <% } %>
</p>
<p class="the_letter">Record: <%= alphabetLetter %></p>
<br/>

<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%" height="100%"
      poster="pics/generic.jpg"
      data-setup="{"controls": true, "autoplay": false, "preload": "auto"}">
<!--     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' /> -->
    <source src="http://<%=piip %>:8080/index.m3u8" type='application/vnd.apple.mpegurl'/>
</video>
<div id = "button_stuff">
  <% if (isOn) { %>
    <% if (!isRecording) { %>
    <!-- # <button class="btn btn-medium record_buttons <%= isRecording === 'false' || !isRecording ? 'btn-success' : 'btn-danger' %>"><i class="icon-white icon-thumbs-down"></i> Record</button> -->
    <button class="btn btn-medium record_buttons btn-inverse" id="recordYo">Start Recording</button>
   <% } else { %>
    <button class="btn btn-medium record_buttons btn-danger " id="recordYo"><i class="icon-white icon-thumbs-up"></i> Recording...</button>
  <% } %>
<% } %>

</div>
